<div>
    <h1><a href="/"><%- site_title %></a></h1>
    <p>A little sumpin' sumpin' to track our NFL league progress.</p>
</div>
<nav>
    <ul class="nav-list">
        <!-- <li><a href="/">Home</a></li> -->
        <li>
            <a href="/team-standings">
                Team Standings
            </a>
        </li>
        <li>
            <a href="/owner-standings">
                Owner Standings
            </a>
        </li>
    </ul>
</nav>