<nav>
    <div class="site-title">
        <h1><%- site_title %></h1>
        <p>A little sumpin' sumpin' to track our NFL league progress.</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/team-standings">Team Standings</a></li>
    </ul>
</nav>